
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>金太阳英语外教</title>
    <link href="@Url.Content("~/Content/css/base.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/index.css")" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Page/index.js")"></script>
</head>
<body>
    <!-- 头部 -->
    <div class="header">
        <div class="w">
            <div class="head_nr clearfix">
                <div class="down fr" style="position:relative">
                    <h2>金太阳英语外教</h2>
                    <h3>定制专属外教口语课</h3>
                    <h3>轻松有趣学英语</h3>
                    <div id="btnmask" style="position: absolute;height: 160px;width: 200px;z-index: 9999;top: 280px;left: -5px; display:none;"></div>
                    <a class="a1" href="#" id="gotoclass">马上去上课</a>
                    <a class="order" href="#" id="getclass">领取体验课</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 头部结束 -->
    <!-- 内容部分开始 -->
    <div class="content">
        <div class="func">
            <div class="w clearfix func_nr">
                <ul>
                    <li class="li4">
                        <img width="90px" height="90px" src="@Url.Content("~/Content/images/pic1.png")" alt="">
                        <h2>沉浸式教学</h2>
                        <p>纯外教老师跟踪教学，营造沉浸式英语学习环境，传授母语式英语学习方法，帮助学生树立学习信心，英语学习更有趣。</p>
                    </li>
                    <li class="li5">
                        <img width="90px" height="90px" src="@Url.Content("~/Content/images/pic2.png")" alt="">
                        <h2>小课程学习</h2>
                        <p>短时高频是学习语言最有效的方法，节约时间，提高效率，让一切碎片时间都成为英语学习的最佳时机。30-45分钟小课程教学英语学习随时随地。</p>
                    </li>
                    <li class="li6">
                        <img width="90px" height="90px" src="@Url.Content("~/Content/images/pic3.png")" alt="">
                        <h2>1对1授课</h2>
                        <p>超小班教学让每一个学员都成为课堂的中心。外教老师1对1单独辅导，充分发掘学员开口说话的能力和自信，告别哑巴英语,口语show起来。</p>
                    </li>
                    <li class="li7">
                        <img width="90px" height="90px" src="@Url.Content("~/Content/images/pic4.png")" alt="">
                        <h2>超高性价比</h2>
                        <p>超低的价格让语言学习不再是奢侈品，每个人都能平等地进行学习。每一节课都有收获，你选择的必定是最好的。</p>
                    </li>
                </ul>
                <div class="kuai"></div>
            </div>
        </div>
        <div class="videos">
            <div class="w clearfix videos1">
                <div class="waijiao">
                    <h2>01</h2>
                    <h3>我们的外教</h3>
                    <p class="p1">
                        100%来自欧美国家，严格甄选入住资质层层考核，拥有丰富的教学经验
                    </p>
                    <p class="p2">	中美名师任你选，让孩子在家享受优质的英文教学，像Kitty一样自由交谈。</p>
                    <a href="#" onclick="javascript: $('#gotoclass').click();">参与体验</a>
                </div>
                <div class="videos_nr">

                    <video id="video1" controls poster="@Url.Content("~/Content/images/video2.png")" src="@Url.Content("~/Content/video/video2.mp4")" webkit-playsinline webkit-playsinline>
                        <source src="@Url.Content("~/Content/video/video2.mp4")">示例视频1</source>
                        您的浏览器不支持video标签
                    </video>
                    <ul>
                        <li>课堂实录</li>
                        <li class="on">我的外教</li>
                    </ul>
                </div>
                <div class="kuai"></div>
            </div>
        </div>
        <div class="module">
            <div class="w clearfix module1">
                <h2>02</h2>
                <h3>简单3步，开启英语学习精彩旅程</h3>
                <div class="module_nr">
                    <h4>用户登录</h4>
                    <p>还不是金太阳用户？</p>
                    <p>马上注册吧？</p>
                    <img src="@Url.Content("~/Content/images/load.png")" alt="">
                </div>
                <img class="img1" src="@Url.Content("~/Content/images/next.png")" alt="">
                <div class="module_nr">
                    <h4>顾问预约</h4>
                    <p>选定时间</p>
                    <p>选定外教</p>
                    <p>推荐教材</p>
                    <img src="@Url.Content("~/Content/images/counselor.png")" alt="">
                </div>
                <img class="img1" src="@Url.Content("~/Content/images/next.png")" alt="">
                <div class="module_nr">
                    <h4>进入教室</h4>
                    <p>电脑、pad连网</p>
                    <p>随时随地都能上课</p>
                    <img src="@Url.Content("~/Content/images/mac.png")" alt="">
                </div>
                <div class="kuai"></div>
            </div>
        </div>
        <div class="aspirations">
            <div class="w clearfix aspirations1">
                <h2>03</h2>
                <h3>学员心声</h3>
                <div class="aspirations_nr">
                    <img src="@Url.Content("~/Content/images/peo1.png")" alt="">
                    <div class="jieshao">
                        <h4>Candy</h4>
                        <p>
                            金太阳的外教上课太有趣了，虽然外教在美国，但我们视频交流一点障碍也没有。她还会讲很多美国的生活。我们现在还是很好的朋友，就这样，不知不觉我的英语口
                            语也提高了！
                        </p>
                    </div>
                </div>

                <div class="aspirations_nr">
                    <img src="@Url.Content("~/Content/images/peo2.png")" alt="">
                    <div class="jieshao">
                        <h4>Sunny</h4>
                        <p>以前我很害羞，因为不自信，金太阳的老师帮我培训后，有次学校英语课老师问有没有人愿意做一个即时英语演讲，我第一个举手了，我的表现让老师和同学们大吃一惊，太棒了！</p>
                    </div>
                </div>

                <div class="aspirations_nr">
                    <img src="@Url.Content("~/Content/images/peo3.png")" alt="">
                    <div class="jieshao">
                        <h4>Sam</h4>
                        <p>我很少讲英语，是金太阳给了我和外教面对面对话的机会，老师不但替我纠正发音，教我英语知识，还给我讲很多美国的本地文化。我现在不但口语提升了，英语成绩也提高了！</p>
                    </div>
                </div>
                <div class="kuai"></div>
            </div>
        </div>



    </div>
    <!-- 内容部分结束 -->
    <!-- 页面底部开始 -->
    <div class="footer">
        <div class="w code clearfix">
            <img src="@Url.Content("~/Content/images/code.png")" alt="">
            <p class="p1">扫码关注微信公众号</p>
            <p>并回复<span>“抽奖”</span>即可参与抽奖活动</p>
        </div>
        <div class="footer_nr">
            <div class="w">
                <p>联系电话：0755-36907458</p>
                <p>Copyright © 2011-2012 <a href="http://www.kingsunsoft.com/" style="color:inherit" target="_blank">深圳市方直科技股份有限公司</a> 版权所有 粤教信息[2010]3号 ICP证粤B2-20110094</p>
            </div>
        </div>
    </div>

    <!-- 弹窗 -->
    <div class="box">
        <p class="p1">恭喜您领取成功!</p>
        <p>我们的课程顾问将会</p>
        <p>第一时间联系您!</p>
        <img src="@Url.Content("~/Content/images/star.png")" alt="" />
        <a class="sour">确认</a>
        <a class="close"></a>
    </div>
    <div class="shadow"></div>

    <!-- 页面底部结束 -->
    <div style="display: none">
        <script src="https://s19.cnzz.com/z_stat.php?id=1263421333&web_id=1263421333" language="JavaScript"></script>
    </div>
</body>
</html>
